#preview{
  boarder:1px solid lightgray;
  width: 140px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.no-image{
  background-image: url("/assets/image/no-image.jpeg");
}
#btn-remove{
  height: 50px;
  vertical-align: center;
}
