<h1 class="mt-2" align="center">File upload</h1>
<hr>
<div>Enter user details to sign up</div>
<hr>
<div class="mb-3">
  <label for="txt-full-name" class="form-label">Email address</label>
  <input type="text" class="form-control" id="txt-full-name" placeholder="Eg: Kasun Nirmal">
</div>
<div class="mb-3">
  <label for="txt-username" class="form-label">Email Username</label>
  <input type="text" class="form-control" id="txt-username" placeholder="Eg: kasun-nuwan">
</div>
<div class="mb-3">
  <label for="txt-password" class="form-label">Email Password</label>
  <input type="text" class="form-control" id="txt-password">
</div>
<div class="mb-3">
  <label for="file-profile" class="form-label">Select your profile picture</label>
  <input #file  (change)="updatePic($event)"  type="file" class="form-control" id="file-profile" accept="image/*">
  <div class="d-flex gap-2">
  <div class="mt-2 no-image" id="preview" [style.background-image]="imageUrl"></div>
    <button class="btn d-flex btn-danger align-items-start" id="btn-remove" (click)="removePic(file)">Remove</button>
  </div>
</div>
<div class="mb-3">
  <button class="btn btn-primary">Sign Up</button>
</div>
