<h1 class="mt-2" align="center">File upload</h1>
<hr>
<div>Enter user details to sign up</div>
<hr>
<div class="mb-3">
  <label for="txt-full-name" class="form-label">Email address</label>
  <input type="text" class="form-control" id="txt-full-name" placeholder="Eg: Kasun Nirmal">
</div>
<div class="mb-3">
  <label for="txt-username" class="form-label">Email Username</label>
  <input type="text" class="form-control" id="txt-username" placeholder="Eg: kasun-nuwan">
</div>
<div class="mb-3">
  <label for="txt-password" class="form-label">Email Password</label>
  <input type="text" class="form-control" id="txt-password">
</div>
<div class="mb-3">
  <label for="file-profile" class="form-label">Select your profile picture</label>
  <input type="file" class="form-control" id="file-profile">
  <div class="mt-2" id="preview"></div>
</div>
<div class="mb-3">
  <button class="btn btn-primary">Sign Up</button>
</div>
